<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Primera aplicacion </title>
    <link rel="stylesheet" href="stylesheets/style.css"  charset="utf-8">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>

  <form  name="form" method="post" action="/formulario"  >
  <label for="nombre"> Nombre </label><input type="text" name="nombre" id="nombre"><br>
  <label for="apellido"> Apellido </label><input type="text" name="apellido" id="apellido"><br>
  <label for="usuario"> Usuario </label><input type="text" name="usuario" id="usuario"><br>
  <label for="password"> Password </label><input type="password" name="password" id="password"><br>
  <br>
    <label >Genero</label>
    <select id="genero" name="genero">
        <option value="m">Masculino</option>
        <option value="f">Femenino</option>
    </select><br>
    <label >estadoCivil</label>
    <select id="estadoCivil" name="estadoCivil">
        <option value="soltero">soltero/a</option>
        <option value="casado">casado/a</option>
    </select>
    <br><br>
   <input type="submit" value="enviar"><br>

</form>


<ul id="messages">

</ul>

<form action="" id="socketform">
     <input id="m" autocomplete="off" /><button>Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>


<script>

      var socket = io();
     $('#socketform').submit(function(){
       socket.emit('chat message', $('#m').val());
       $('#m').val('');
       return false;
     });


      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
      
</script>

  </body>
</html>
