<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tabla resultado</title>
  </head>
  <body>

    <table border="1">
     <tr>
         <td>Id</td>
         <td>Nombre</td>
         <td>Apellido</td>
         <td>Usuario</td>
         <td>Password</td>
         <td>Saludo</td>
         <td>Genero</td>
         <td>EstadoCivil</td>
     </tr>

     <tr>
         <td></td>
         <td><%= nombre %></td>
         <td><%= apellido %></td>
         <td><%= usuario  %></td>
         <td><%= password%></td>
         <td></td>
         <td><%= genero %></td>
         <td><%= estadoCivil %></td>

          <!--
         <td><input type="button" value="Modificar"></td>
         <td><input type="button" value="Borrar" onclick=""></td>
       -->
     </tr>
  </table>
  </body>
</html>
