<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Primera aplicacion en backbone </title>
    </head>
    <body>

    <h1> Formulario de ingreso de usuarios</h1>
    <br>
    <br>
    <div id="form"></div>
    <br>
    <br>
    <br>
    <div >
      <table border="1">
              <thead>
                 <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                    <th>Genero</th>
                    <th>EstadoCivil</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                 </tr>
              </thead>
                    <tbody  id="usuarios">
                    </tbody>
          </table>
    </div>






    <!-- Template del formulario -->
<script type="text/template" id="formtpl">
                  <form method="post" id="Formulario">
                  <label>Nombre</label><input type="text" id="nombre" value="" /><br>
                  <label>Apellido</label><input type="text" id="apellido"  value="" /><br>
                  <label>Usuario</label><input type="text" id="usuario" value=""  /><br>
                  <label>Genero</label><input type="text" id="genero" value="" /><br>
                  <label>Contraseña</label><input type="text" id="password" value="" /><br>
                  <label>EstadoCivil</label><input type="text" id="estadoCivil" value="" /><br>
                  <br>
                  <br>
                  <input type="submit" id="Formulario" value="Enviar a BD"/>
                  </form>
</script>

<script type="text/template" id="clientetpl" >
               <tr>
                        <td><%= _id %></td>
                        <td><%= nombre %></td>
                        <td><%= apellido %></td>
                        <td><%= usuario %></td>
                        <td><%= password %></td>
                        <td><%= genero %></td>
                        <td><%= estadoCivil %></td>
                        <td><button type='button' data-id='<%= _id %>'   id='modificar'  class='modificar' >Modificar</button></td>
                        <td><button type='button' data-id='<%= _id %>'   id='eliminar'   class='eliminar'  >Eliminar</button></td>
               </tr>
</script>


    <!-- JavaScript Includes -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>

    <script src="js/modelo/modelo.js"></script>
    <script src="js/collection/collection.js"></script>
    <script src="js/route/route.js"></script>
    <script src="js/views/clienteviews.js"></script>
    <script src="js/views/formularioviews.js"></script>





  <!-- inicializando vistas, colecciones  -->
    <script type="text/javascript">
         var usuarios = new UsuarioCollection();
         var usuarioview = new UsuarioView({collection:usuarios});
         var formularioView = new FormViews({collection:usuarios});
    </script>

  </body>
</html>
