<table>
  <thead>
    <tr>
        <th>id </th>
        <th>nombre</th>
        <th>apellido</th>
        <th>usuario</th>
        <th>password</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
  </thead>
</table>
