<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<form  name="form" method="post" action="/usuario"  >


<label for="nombre"> Nombre </label><input type="text" name="nombre" id="nombre" value="<%= usuariomod.nombre %>"><br>
<label for="apellido"> Apellido </label><input type="text" name="apellido" id="apellido" value="<%= usuariomod.apellido %>"><br>
<label for="usuario"> Usuario </label><input type="text" name="usuario" id="usuario" value="<%= usuariomod.usuario %>"><br>
<label for="password"> Password </label><input type="password" name="password" id="password" value="<%= usuariomod.password %>"><br>
<br>
  <label >Genero</label>
  <select id="genero" name="genero" value="<%= usuariomod.genero %>">
      <option value="m">Masculino</option>
      <option value="f">Femenino</option>
  </select><br>
  <label >estadoCivil</label>
  <select id="estadoCivil" name="estadoCivil"  value="<%= usuariomod.estadoCivil %>">
      <option value="soltero">soltero/a</option>
      <option value="casado">casado/a</option>
  </select>
  <br><br>
 <input type="hidden" name="id" value="<%= usuariomod.id %>">
 <input type="submit" value="ingresar en DB"><br>

</form>

  </body>
</html>
