<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tabla resultado</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  </head>
  <body>

        <table border="1">
        <br>
         <a href="/usuario"><button>Nuevo</button></a>
         <br>
         <br>
         <tr>

             <td>Nombre</td>
             <td>Apellido</td>
             <td>Usuario</td>
             <td>Password</td>
             <td>Genero</td>
             <td>EstadoCivil</td>
             <td>modificar</td>
             <td>Borrar</td>
         </tr>

         <% usuariolist.forEach(function(usuario,index){ %>
         <tr>
          
             <td><%= usuario.nombre %></td>
             <td><%= usuario.apellido %></td>
             <td><%= usuario.usuario %></td>
             <td><%= usuario.password%></td>
             <td><%= usuario.genero %></td>
             <td><%= usuario.estadoCivil %></td>
             <td><a href="/usuario/<%= usuario.id %>"><button>Modificar</button></a></td>
             <td><a href="/delete/<%= usuario.id %>"><button>Borrar</button></a></td>
         </tr>
            <% }) %>
      </table>
  </body>
</html>
