<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang="es">
    <title>Red Social de Nefi</title>
    <link rel='stylesheet' href='/styles/styles.css' />
  </head>
  <body>
    <h1> Red Social del Tio Nefi</h1>

    <div id="content"></div>

    <script data-main="js/boot"  type="text/javascript"  src="js/libs/require.js"></script>
  </body>
</html>
